:host {
  display: block;
}


.input-section {

    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
.input-section:focus {
    outline: none;
    border-color: #007bff;
  }

.strength-section {
  height: 20px;
  width: 50px;
  margin-bottom: 5px;
}
